*.h5
*.pdf
*.docx
*.pyc
*.npz
*.idx
*.mp4
*.p
*.ipynb_checkpoints
embeddings.txt
Embedding/assignment_cache
Embedding/embeddings_data
tp2_indexador/testWiki
tp2_indexador/wikiSample
tp2_indexador/Relatório.ipynb